In [1]:
''' 1 Question of 2 Feb Assigment'''

' 1 Question of 2 Feb Assigment'

In [2]:
a1 = [ 1,2,3,4,56,7,8,9]
for x in a1:
    print(x)

1
2
3
4
56
7
8
9

In [4]:
n=len(a1)
i = 0
while i < n:
    print(a1[i])
    i=i+1

1
2
3
4
56
7
8
9

In [5]:
''' 2 Question of 2 Feb Assigment'''

' 2 Question of 2 Feb Assigment'

In [6]:
a1 = [ 1,2,3,4,56,7,8,9]
sum = 0
for x in a1:
    sum = sum + x
print(sum)

sum = 0
n=len(a1)
while i < n:
    sum = sum + a[i]
    i = i + 1
print(sum)

90
0

In [9]:
a1 = [ 1,2,3,4,56,7,8,9]
sum = 0
n=len(a1)
i =0
while i < n:
    sum = sum + a1[i]
    i = i + 1
print(sum)

90

In [11]:
a1 = [ 1,2,3,4,56,7,8,9]
product = 1
for x in a1:
    product = product * x
print(product)

product = 1
n=len(a1)
i =0
while i < n:
    product = product * a1[i]
    i = i + 1
print(product)

677376
677376

In [40]:
''' 3 Question of 2 Feb Assigment'''

' 3 Question of 2 Feb Assigment'

In [39]:
''' 4 Question of 2 Feb Assigment'''

' 4 Question of 2 Feb Assigment'

In [33]:
a1 = [ x for x in  range(1,101) ]
a2 = []
a3 = []
i = 1
for x in a1:
    a2.append(x*x*x)
    product = x*x*x
    rem = product % 4 or product % 5
    if not rem:
        a3.append(product)
print(a2)
print(a3)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]
[1000, 8000, 27000, 64000, 125000, 216000, 343000, 512000, 729000, 1000000]

In [34]:
a1 = [ x for x in  range(1,101) ]
a2 = []
a3 = []
i = 1
for x in a1:
    a2.append(x*x*x)
    product = x*x*x
    if not (x*x*x % 4 or x*x*x % 5):
        a3.append(x*x*x)
print(a3)

[1000, 8000, 27000, 64000, 125000, 216000, 343000, 512000, 729000, 1000000]

In [35]:
''' Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"'''

' Q5. Write a program to filter count vowels in the below-given string.\nstring = "I want to become a data scientist"'

In [38]:
str5 = 'I want to become a data scientist'
vowels = ['a','e','i','o','u']
count = 0
for c in str5:
    print(c)
    if c in vowels:
        count = count + 1
print(count)

I

w
a
n
t

t
o

b
e
c
o
m
e

a

d
a
t
a

s
c
i
e
n
t
i
s
t
11

In [41]:
''' 3 Question of 2 Feb Assigment'''

' 3 Question of 2 Feb Assigment'

In [42]:
bill_amount = 0

no_of_units = int(input("Enter the units "))
bill_amount = 0
if no_of_units <= 100:
    bill_amount = 4.5 * no_of_units
elif no_of_units > 100 and no_of_units <= 200:
	bill_amount = 4.5 * 100
	no_of_units = no_of_units - 100
	bill_amount = bill_amount + 6 * no_of_units
elif no_of_units > 200 and no_of_units <= 300:
	bill_amount = 4.5 * 100
	no_of_units = no_of_units - 100
	bill_amount = bill_amount + 6 * 100
	no_of_units = no_of_units - 100
	bill_amount = bill_amount + 10 * no_of_units
else:
	bill_amount = 4.5 * 100
	no_of_units = no_of_units - 100
	print(no_of_units)
	bill_amount = bill_amount + 6 * 100
	no_of_units = no_of_units - 100
	print(no_of_units)
	bill_amount = bill_amount + 10 * 100
	no_of_units = no_of_units - 100
	print(no_of_units)
	bill_amount = bill_amount + 20 * no_of_units
	
print(bill_amount)

Enter the units  310

210
110
10
2250.0